* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000;
}

.padd-top-bott {
  padding: 20px 20px;
}

.col-light {
color: rgba(255, 255, 255, 0.5);
}

.small-t {
  font-size: 0.8em;
}

.container {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}

#slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider .slider-img {
  display: flex;
  flex-direction: row;
}
img {
  max-width: 100%;
}
#slider .prev-btn img,
#slider .next-btn img {
  width: 50px;
  height: auto;
}
#slider .prev-btn,
#slider .next-btn {
  width: 50px;
  height: auto;
  position: absolute;
  cursor: pointer;
}

#slider .prev-btn {
left: 30px;
}

#slider .next-btn {
right: 30px;
}

#slider .slider-img img {
  display: none; //jQuery
}

#slider .slider-img img.active {
  display: block; //jQuery
}
