* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000;
}

.padd-top-bott {
  padding: 20px 20px;
}

.container {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}

#slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider .slider-img {
  display: flex;
  flex-direction: row;
}
img {
  max-width: 100%;
}
.prev img,
.next img {
  width: 50px;
  height: auto;
}
.prev,
.next {
  width: 50px;
  height: auto;
  position: absolute;
  cursor: pointer;
}

#slider .prev {
left: 30px;
}

#slider .next {
right: 30px;
}

#slider .slider-img img {
  display: none; //jQuery
}

#slider .slider-img img.active {
  display: block; //jQuery
}
