* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background: #000; */
}

.padd-top-bott {
  padding: 20px 20px;
}

.col-light {
color: rgba(255, 255, 255, 0.5);
}

.small-t {
  font-size: 0.8em;
}

#main-content {

	margin: auto;
	height: auto;
	width: 960px;
  background: rgba(255, 255, 255, 0.1);

}

#slider {
  position: relative;
    width: 960px;
  	height: 350px;
  	overflow: hidden;
  	background-color: red;
}

img {
  max-width: 100%;
}

#slider .prev-btn img,
#slider .next-btn img {
  width: 100%;
  height: auto;
}

#slider .prev-btn,
#slider .next-btn {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}

#slider .prev-btn {
left: 30px;
}

#slider .next-btn {
right: 30px;
}

ul.slider-list {
  list-style: none;
  width: 3200px;
	height: 360px;
  padding: 0;
	background-color: black;
}

ul.slider-list li {
  list-style: none;
  	float: left;
  	width: 960px;
  	height: 360px;
}
